/admin/*
!/admin/marm*
/application/components/*
/application/controllers/*
/application/models/*
/application/translations/*
/application/view/admin/*
/application/view/azur/*
/application/view/canvas_green1.5/*
/application/view/canvas1.5/*
/core/*
/bin/*
/documentation/*
/
!/core/marm*
/export/*
/log/*
/modules/*
!/modules/marm*
/out/admin/*
/out/azure/*
/out/basic/*
/out/canvas1.5/*
/out/canvas_green1.5/*
/out/de/*
/out/en/*
/out/media/*
/out/pictures/*
/tmp/*
/views/*
!/views/marm*
/.htaccess
/COPYING
/config.inc.php
/favicon.ico
/index.php
/bootstrap.php
/getimg.php
/offline.html
/oxid.php
/oxseo.php
/pkg.info
/pkg.rev
/robots.txt
/xd_receiver.htm
/widget.php
.tmp*
/.project
/.settings/org.eclipse.core.resources.prefs
*.*~ 